// Specific CSS for your home-page
.container {

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbJBtapFEkjdynpnq22aaQZkNxWgEgmuIWCg&usqp=CAU);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  margin: auto;

}
.filter {

  background-color: rgb(39, 36, 36);
  background-position: center;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px whitesmoke;

}
h1{


}
