// Specific CSS for your home-page
.container {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  margin: auto;
  height: 50%;
}
.filter {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

.bg-image {
  background-image: url(https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.btn {
  border-radius: 10px;
  width: 50%;
  background: rgb(10, 10, 43);
}

.filter-form {
  margin: 40px;
}

.filter-form h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #E9E9E9;
}

.filter-form select {
  border-radius: 10px;
  margin-bottom: 10px;
}

.calender {
  border-radius: 10px;
}

.flatpickr-input {
  width: 25%;
  border-radius: 10px;
  padding: 10px;
}

// https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbJBtapFEkjdynpnq22aaQZkNxWgEgmuIWCg&usqp=CAU
