// .img {
//   height: 150px;
//   object-fit: cover;
//   width: auto;
//   max-height: 150px;
//   object-position: 50% 50%;
//   position: center;
// }

// .card {
// background-color: rgb(223, 220, 217);
// border-radius: 10px;
// }

// h5 {
//   text-align: center;
// }

// .text-body-secondary {
// text-decoration: underline;
// }

.bt {
  background-image: url(https://images.unsplash.com/photo-1516546453174-5e1098a4b4af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2864&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  overflow: hidden;
}
