.img {
  height: 150px;
  object-fit: cover;
  width: auto;
  max-height: 150px;
  object-position: 50% 50%;
  position: center;
}

.card {
background-color: rgb(223, 220, 217);
border-radius: 10px;
}

h5 {
  text-align: center;
}

.text-body-secondary {
text-decoration: underline;
}
