<h3>Select your companion for tonight</h3>
          <ul>
            <% @users.each do |user| %>
              <p><%= link_to user.full_name, user_path(user) %></p>
              <li>Age: <%= user.age %></li>
              <li>Gender: <%= user.gender %></li>
              <li>Location: <%= user.location %></li>
            <% end %>
          </ul>
      </div>
