
<h3>Select your companion for tonight</h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="users">
  <% if @users.any? %>
  <% @users.each do |user| %>
    <p><%= link_to user.full_name, user_path(user) %></p>
    <li><%= user.age %></li>
    <li><%= user.gender %></li>
    <li><%= user.location %></li>
    <% end %>
  <% else %>
    <em>Sorry, no match.</em>
  <% end %>
      </div>
    </div>
  </div>
</div>
